* {
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

html, body {
	width: 100%;
	height: 100%;
}


@font-face{
	font-family: "Mukta";
	src: url("./fonts/Mukta-Regular.ttf");
}

/* @import("./font/Lateef-Regular.ttf"); */

@font-face{
	font-family: "Lateef";
	src: url("./fonts/Lateef-Regular.ttf");
}



@font-face{
	font-family: "Barlow";
	src: url("./fonts/BarlowSemiCondensed-Italic.ttf"), url("./fonts/BarlowSemiCondensed-Regular.ttf");
}

@font-face{
	font-family: "Yantramanav";
	src: url("./fonts/Yantramanav-Regular.ttf");
}

@font-face{
	font-family: "Yantramanav-bold";
	src: url("./fonts/Yantramanav-Bold.ttf");
}

h2 {
	font-family: "Lateef";
	font-size: 4.2rem;
}

body {
	color: #fff;
	font-size: 1.8rem;
	box-sizing: border-box;
	font-family: "Yantramanav";
	
}

button{
	background: none;
	border: none;
	
}



ul{

	list-style-type: none;
}
