* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Lateef";
    src: url("./fonts/Lateef-Regular.ttf");
}

@font-face {
    font-family: "Padauk";
    src: url("./fonts/Padauk-Regular.ttf");
}

@font-face {
    font-family: "Yantramanav";
    src: url("./fonts/Yantramanav-Regular.ttf");
}

@font-face {
    font-family: "Yantramanav-bold";
    src: url("./fonts/Yantramanav-Bold.ttf");
}

h1,
h2 {
    font-family: "Lateef";
    font-size: 4.2rem;
}

nav button {
    font-family: "Lateef";
    font-size: 3.2rem;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

body {
    color: #fff;
    font-size: 1.8rem;
    box-sizing: border-box;
}

a,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

p,
button {
    font-family: "Yantramanav", monospace;
}

button {
    background: none;
    border: none;
}

ul {
    list-style-type: none;
}