* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Lateef";
    src: url("./fonts/Lateef-Regular.ttf");
}

@font-face {
    font-family: "Padauk";
    src: url("./fonts/Padauk-Regular.ttf");
}

@font-face {
    font-family: "Yantramanav";
    src: url("./fonts/Yantramanav-Regular.ttf");
}

@font-face {
    font-family: "Yantramanav-bold";
    src: url("./fonts/Yantramanav-Bold.ttf");
}

h2 {
    font-family: "Lateef";
    font-size: 4.2rem;
}

h1 {
    font-size: 1.6rem;
    font-family: "yantramanav";
    text-align: center;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

body {
    color: #fff;
    font-size: 1.8rem;
    box-sizing: border-box;
}

a,
a:focus,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

nav a {
    font-family: "Lateef";
    font-size: 3.2rem;
    margin-left: 1em;
    padding: 0;
}

nav a:hover,
nav a:focus {
    color: hsl(0, 0%, 50%);
    outline: none;
}

.active {
    position: relative;
}

.active::before {
    content: "";
    width: 0.4em;
    height: 0.4em;
    position: absolute;
    top: 0.4em;
    left: -0.6em;
    border-radius: 2px;
    background-color: hsl(226, 47%, 51%);
    box-shadow: 3px 2px 0 0 hsl(226, 47%, 21%);
    animation-name: scale;
    animation-duration: 0.2s;
}

p,
button {
    font-family: "Padauk", monospace;
}

button {
    background: none;
    border: none;
}

ul {
    list-style-type: none;
}

.tech {
    font-family: "Yantramanav-bold";
}